@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/** Start general style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

section {
  margin: 50px 50px;
}
/** End general style */

/** Variables */
:root {
  --red: #d90429;
  --black: #000000;
  --white: #ffffff;
  --gray: #2b2d42;
}

/** Start Header */
header {
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  margin: 10px 50px;
}

header a {
  text-decoration: none;
  color: var(--black);
}

header a:hover {
  color: var(--red);
}

.logo {
  font-size: 30px;
  font-weight: 800;
}

nav a {
  margin-left: 40px;
  font-size: 18px;
  font-weight: 600;
}
/** End Header */

/** Start Sections */

/** Start Hero Section */
.hero_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero_info > h2 {
  font-size: 30px;
}

.hero_info > p {
  font-size: 20px;
  font-weight: 500;
}

.hero_info > p > span {
  font-weight: bold;
  color: var(--red);
}

.hero_img > img {
  width: 100%;
  height: 100%;
}

.hero_img {
  width: 50%;
}
/** End Hero Section */

/** Start About Section */
.about_section {
  background-color: var(--gray);
  color: var(--white);
}

.about_section > .about_title {
  text-align: center;
  padding: 15px 0px;
  font-size: 20px;
}

.about_section > .about_info {
  display: flex;
  justify-content: space-between;
}

.about_section > .about_info > .about_me {
  width: 50%;
  margin-left: 20px;
}

.about_section > .about_info > .about_me > p > span {
  font-weight: 700;
  font-size: 15px;
}

.about_section > .about_info > .about_img {
  margin-right: 20px;
  height: auto;
}

.about_section > .about_info > .about_img > img {
  height: 480px;
}
/** End About Section */

/** Start Skills Section */
.skills_section > .skills_title {
  text-align: center;
  padding: 15px 0px;
  font-size: 20px;
}

.skills_section > .skills_info {
  display: flex;
  justify-content: space-between;
}

.skills_section > .skills_info > .skills_1 > .skill_a {
  background-color: var(--gray);
  margin: 10px 0px;
  color: var(--white);
  height: 35px;
  width: 250px;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.skills_section > .skills_info > .skills_2 > .skill_b {
  background-color: var(--gray);
  margin: 10px 0px;
  color: var(--white);
  height: 57px;
  width: 250px;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}
/** End Skills Section */

/** Start Projects Section */
.projects_section {
  background-color: var(--gray);
  color: var(--white);
  padding-bottom: 5px;
}
.projects_section > .projects_title {
  text-align: center;
  padding: 15px 0px;
  font-size: 20px;
}

.projects_section > .projects_info {
  display: flex;
  justify-content: space-between;
}

.projects_section > .projects_info > .projects {
  background-color: var(--white);
  margin: 10px 20px;
  width: auto;
  height: auto;
  border-radius: 20px;
  color: var(--black);
  text-align: center;
}

.projects_section > .projects_info > .projects > img {
  width: 350px;
  height: 300px;
  border-radius: 20px 20px 0px 0px;
}

.projects_section > .projects_info > .projects > h3 {
  margin: 10px 10px;
}

.projects_section > .projects_info > .projects > .buttons {
  display: flex;
  justify-content: space-between;
  margin: 20px 50px;
}

.projects_section > .projects_info > .projects > .buttons > div {
  background-color: var(--red);
  border-radius: 5px;
  padding: 2px;
  width: 100px;
  color: var(--white);
  transition: 0.7s;
}

.projects_section > .projects_info > .projects > .buttons > div:hover {
  background-color: var(--gray);
  cursor: pointer;
}

.projects_section > .line {
  background-color: var(--white);
  width: 90%;
  height: 4px;
  margin: 50px auto;
  border-radius: 50px;
}

/** End Projects Section */

/** End Sections */
